* {
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.whiteboard {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.topDiv {
    position: fixed;
    left: 0;
    top: 0;
    margin: 5px;
}

.buttons {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1;  /* make the button on top of the whiteboard */
}

.btn {
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 5px solid #555555;
}
