<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" href="{% static "/favIcon.png" %}">
    <title>Lets Draw Du.de</title>
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
</head>

<body>
    <div class="wrapper">
        <div class="botDiv">
            <p id="message">Initializing Sync...</p>
            <p>Time to Draw Dudes!</p>
            <nav id="mainNav">
                <div class="container">
                    <ul>
                        <li><a href="{% url 'index' %}">Return Home</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="buttons">
            <div class="otherButtons">
                <input type="color" id="colorPicker" value="#000000">
            </div>
            <div class="drawButtons">
                <button id="draw-btn" disabled = "true" class="btn">Draw</button>
                <button id="erase-btn" class="btn">Erase</button>
            </div>
            <div class="lineButtons">
                <button id="lineWidth-btn1" disabled = "true" class="btn">S</button>
                <button id="lineWidth-btn2" class="btn">M</button>
                <button id="lineWidth-btn3" class="btn">L</button>
                <button id="lineWidth-btn4" class="btn">XL</button>
            </div>
            <div class="otherButtons">
                <button id="clear-btn" class="btn">Clear Board</button>
            </div>
        </div>
        <div class="drawArea">
            <canvas class="whiteboard" width="1000" height="700"></canvas>
        </div>
        <div class="chat">
            Chatbox
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/sync/releases/0.12.4/twilio-sync.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>
