<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
    {% comment %} Above link is for the favourites Icon, create something nice here. {% endcomment %}
    <title>Online Drawing App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
</head>

<body>
    <div class="wrapper">
        <div class="topDiv">
            <h1 id="mainHeader">Time to Draw Dudes!</h1>
            <nav id="mainNav">
                <div class="container">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'draw' %}">Draw</a></li>
                        <li><a href="{% url 'howTo' %}">How To</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="midDiv">
            <p>How to draw!</p>
            <br>
            <p>Click on the Draw button on either the index page or the Navbar.</p>
            <p>Multiplayer is automatically enabled!</p>
            <p>Drawing will be on small line width, black colour by default.</p>
            <p>Click on erase to erase parts drawn previously. You can still change the line width here!</p>
            <p>Click back on draw to continue to draw. It even saves your previous line settings!</p>
            <p>The S, M, L, XL buttons are to select your line width.</p>
            <p>The color button opens a color picker where you can select the color you draw with.</p>
            <p>The clear board button clears the board entirely. Please note that this intentionally only works locally and does not clear the screens of other participants!</p>
            <p>Have fun drawing, dudes!</p>
            <br>
            <br>
            <br>
        </div>
        <div id="mainFooter">
                <p>Copyright: die Bois&trade;</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/sync/v3.0/twilio-sync.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>
