<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="//www.twilio.com/marketing/bundles/marketing/img/favicons/favicon.ico">
    {% comment %} Above link is for the favourites Icon, create something nice here. {% endcomment %}
    <title>Online Drawing App</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}" />
</head>

<body>
    <div class="wrapper">
        <div class="topDiv">
            <h1 id="mainHeader">Time to Draw Dudes!</h1>
            <nav id="mainNav">
                <div class="container">
                    <ul>
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'draw' %}">Draw</a></li>
                        <li><a href="{% url 'howTo' %}">How To</a></li>
                        <li><a href="{% url 'shop' %}">Shop</a></li>
                        <li><a href="{% url 'aboutUs' %}">About Us</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="midDiv">
            <p>BUY NOW!!!</p>
            <p>MERCH!</p>
            <img src="{% static "/Shirt.png" %}" alt="PICTURE OF A GREAT MERCH SHIRT!" width="300" height="300">
            <p>GET THE SHIRT! ONLY 99,99€!!!</p>
            <p>PREORDER NOW! LIMITED AVAILABILITY</p>
            <p>CONTACT US TO MAKE A RESERVATION ON THIS GREAT ITEM!</p>
        </div>
        <div id="mainFooter">
                <p>Copyright: die Bois(TM)</p>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://media.twiliocdn.com/sdk/js/sync/v3.0/twilio-sync.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
</body>

</html>
